@import 'node_modules/bootstrap/scss/bootstrap'
@import 'node_modules/bootstrap-vue/src/index.scss'

#nav
    position: fixed
    bottom: 0
    width: 100%
    display: flex
    justify-content: center
    z-index: 2
    background-color: $void
    .nav-link
        font-size: 0.7rem
        padding: 1rem
        flex: 1 1 0px
        svg
            margin-bottom: 5px
            height: 1.25rem
            width: 1.25rem

a:hover
    background-color: $void-light
    color: $stark

#nav a.router-link-exact-active
    background-color: $void-light

@include media-breakpoint-up(md)
    #nav
        width: auto
        flex-direction: column
        height: 100%
        .nav-link
            flex: 0
