#user
    padding: 5rem 1.5rem
    
    #user-profile-image
        max-width: 150px

    .jumbotron
        background-color: transparent
        color: $stark
        padding-top: 2rem

        .lead
            padding: 2rem 0
            margin: auto
        b
            color: $soft-green
            font-size: 1.5rem
            
.top-ten-lists-container
    padding: 0

@include media-breakpoint-up(md)
    #user
        .jumbotron .lead
            max-width: 500px
        .top-ten-lists-container
            max-width: 700px
    
@include media-breakpoint-up(lg)
    .top-ten-lists-container
        max-width: 850px