#user
    padding: 5rem 1.5rem

    #user-profile-image
        max-width: 150px

    .jumbotron
        background-color: transparent
        color: $stark
        padding-top: 2rem
        padding-bottom: 2rem
        margin: 0

        .lead
            padding: 1.5rem 0
            margin: auto

        span
            font-size: 1rem

        b
            color: $soft-green
            font-size: 1.2rem
            font-weight: 500
    h2
        font-size: 1.75rem
        text-align: center
        padding-bottom: 1rem
        font-weight: 300
        
#top-ten-lists
    padding: 0

#current-playback
    margin: 0 auto 5rem

#top-ten-lists, #dashboard
    margin: 0 auto 3rem

@include media-breakpoint-up(md)
    #user
        .jumbotron .lead
            max-width: 500px
        #top-ten-lists, #current-playback, #dashboard
            max-width: 900px
        h2
            text-align: left

